In [3]:
# 파이썬에서 제공하는 내장 함수

# 문자열 함수

# 문자열을 대문자, 소문자의 형태로 변환

x = 'A'
y = 'a'

# y라는 변수의 문자열을 대문자로 변환
# upper()
y = y.upper()

print(x == y)

True

In [6]:
# x를 소문자로 변환
# lower()
x = x.lower()

In [8]:
a = 'Hello world'

# 단어의 첫글자만 대문자로 변환하는 함수
# title()
a.title()

'Hello World'

In [10]:
# 문자열 좌우 공백을 제거하는 함수
text = '   Hello World  '
text2 = 'Hello World'

text == text2

False

In [12]:
# strip() : 좌우의 공백을 제거
# lstrip() : 왼쪽의 공백을 제거
# rstrip() : 오른쪽의 공백을 제거
# strip({text}) : 좌우의 'text' 제거
text.lstrip()

'Hello World  '

In [13]:
text.rstrip()

'   Hello World'

In [14]:
text.strip()

'Hello World'

In [16]:
text.strip().strip('H')

'ello World'

In [17]:
# 선택한 문자열을 다른 문자열로 치환해주는 함수
# replace({선택한 문자열}, {변경할 문자열})
text2.replace('Hello', 'Hi')

'Hi World'

In [20]:
# replace를 이용하여 공백을 제거
text.replace(' ', '')

'HelloWorld'

In [22]:
# 특정한 문자열을 기준으로 데이터를 나눠주는 함수
# split({특정한 문자열})
# split() : 공백을 기준으로 데이터를 나눠준다.
a = '1,2,3,4,5'

a.split(',')

['1', '2', '3', '4', '5']

In [24]:
b = 'a b c d e'

b.split()

['a', 'b', 'c', 'd', 'e']

### 함수
- 어떠한 입력 값을 가지고 작업을 실행하여 결과물을 되돌려준다.
- def 키워드를 이용하여 함수를 선언
    - 함수를 선언하는 과정에서 필요한 입력 값을 매개변수로 생성
    - 함수를 호출하는 과정에서 매개변수에 들어갈 입력 값을 인자

In [26]:
# 매개변수가 존재하지 않는 함수 선언
# 함수는 같은 행동하고 같은 값을 되돌려준다.
def func_1():
    result = 'Hello World'
    # 함수에서 특정한 데이터를 되돌려준다
    return result

In [27]:
print(func_1())
print(func_1())
print(func_1())

Hello World
Hello World
Hello World

In [31]:
# 매개변수가 존재하는 함수를 선언
# 매개변수에 기본값을 설정
def func_2(x = 'func'):
    return x

In [32]:
print(func_2(1))
print(func_2('a'))
print(func_2(True))
print(func_2())

1
a
True
func

In [34]:
def func_3(x, y):
    result = x + y
    return result

In [36]:
print(func_3(5, 3))
print(func_3(123, 912))
print(func_3(10))

8
1035

TypeError: func_3() missing 1 required positional argument: 'y'

In [38]:
def func_4(a, b):
    result = a ** b
    return result

In [40]:
print(func_4(5, 2)) # a에는 5를 대입, b에는 2를 대입 -> 결과 5^2 = 25

25

In [41]:
print(func_4(b=5, a=2))  # a에 2를 대입, b에 5를 대입 -> 결과 2^5 = 30

32

In [42]:
# 함수를 생성
# 매개변수 2개(x, y)
# x부터 y까지의 합계를 되돌려주는 함수를 생성
def func_5(x, y):
    # 합계라는 초기값을 생성
    result = 0
    # 반복문을 이용하여 누적합
    for i in range(x, y+1, 1):
        # result 누적합
        result = result + i
        # result += i


    return result

In [47]:
print(func_5(1, 10))
print(func_5(1, 100))
print(func_5(100, 1))

55
5050
0

In [59]:
# 매개변수 x, y의 값을 포함한 사이값의 합계 함수 생성

# 함수 생성 func_6 -> 매개변수 2개 (x, y)
def func_6(x, y):
    # 합계라는 변수를 생성하여 0을 대입
    result = 0
    # x가 y보다 작다면
    if (x < y) :
       # x부터 y+1까지 반복하는 반복문을 생성
         for i in range(x, y+1, 1):
          # result의 i의 값들을 누적합
          result += i

    # x가 y보다 크거나 같다면 
    if (x >= y): # else
       # y부터 x+1까지 반복하는 반복문을 생성
         for i in range(y, x+1, 1):
          # result에 i의 값들을 누적합
          result += i
    # result를 되돌려준다.
    return result

In [61]:
print(func_6(1, 10))
print(func_6(10, 1))

55
55

In [64]:
def func_7(x, y):
    result = 0

    # 두개의 값 중 작은 값을 되돌려주는 함수 : min()
    # 두개의 값 중 큰 값을 되돌려주는 함수 : max()
    for i in range(min(x, y), max(x, y)+1, 1):
        result += i

    return result

In [66]:
print(func_7(1, 10))
print(func_7(10, 1))

55
55

In [67]:
# 인자의 개수가 가변인 경우
def func_8(*args):
    return args

In [68]:
print(func_8(1, 2, 3))
print(func_8('a', 'b'))
print(func_8())

(1, 2, 3)
('a', 'b')
()

In [74]:
# 인자 값들의 합계를 구하는 함수 생성
# 인자의 개수는 가변이고 인자값들을 모두 더해주는 함수

def func_9(*args):
    # args의 데이터 타입은 튜플
    # 합계라는 변수 생성
    result = 0

    for i in args:
        result += i

    return result

In [75]:
print(func_9(3, 5, 7))
print(func_9(1,2,3,4,5,6,7,8,9))

15
45

In [76]:
a = ('h', 'e', 'l', 'l', 'o')
print(a)

('h', 'e', 'l', 'l', 'o')

In [77]:
# 튜플에서 2번째 데이터만 추출하려면?
print(a[1])

e

In [80]:
# while문 함수

def func_10(*args):
    # 합계의 초기값 지정
    result = 0

    # while 조건식의 초기값 지정
    i = 0

    # while문 생성
    while i < len(args):
        result += args[i]
        # 증감식 생성
        i += 1
    
    return result

In [81]:
print(func_10(3, 5, 7))
print(func_10(1,2,3,4,5,6,7,8,9))

15
45

In [84]:
# 매겨변수에 자료형 데이터를 입력

# 합계 구하는 함수

def func_11(x):
    result = 0

    for i in x:
        result += i

    return result




# 함수 호출
print(func_11([1,2,3,4]))

print(result)

10

NameError: name 'result' is not defined

### 변수(데이터가 저장되어 있는 공간의 이름)의 종류
1. 전역 변수
    - 어디서든 사용이 가능한 변수
    - 함수 내부에서든 외부에서든 사용이 가능
2. 지역 변수
    - 특정한 영역에서만 사용이 가능한 변수
    - 함수, 클래스 안에서만 사용이 가능한 변수
    - 해당 영역을 벗어나면 사용이 불가능
3. 매개 변수
    - 함수를 선언할 때 만드는 변수
    - 함수 내에서 인자 값을 받아서 사용하기 위한 변수
    - 함수 밖에서는 사용이 불가능(휘발성 데이터)

In [86]:
text = 'Hello World'

print(text)

Hello World

In [88]:
def func_12():
    _text = 'Hi'
    return _text

print(func_12())

Hi

In [89]:
print(_text)

NameError: name '_text' is not defined

In [94]:
# 함수 문제
# 배열 데이터를 입력받아서 해당하는 배열을 제곱한 리스트를 출력하는 함수
# [1,2,3,4] -> [1,4,9,16]

# 함수를 생성 (매개변수(x) 1개 -> 입력값은 배열 데이터)
def func_13(x):
    # 비어있는 리스트 하나 생성
    result = []
    # 배열 데이터를 반복하는 반복문을 생성
    for i in x:
        # 배열 데이터 하나씩 추출하여 제곱한 뒤 비어있는 리스트에 추가
        result.append(i**2)
    # 비어있는 리스트를 되돌려준다.
    return result

print(func_13([1,2,3,4]))

[1, 4, 9, 16]

In [96]:
# while문 함수로 생성

def func_14(x):
    result = []

    i = 0

    while i < len(x):
        # i 데이터는 ? -> x의 위치값
        result.append(x[i]**2)
        # 증감식 생성
        i += 1


    return result
print(func_14([1,2,3,4]))

[1, 4, 9, 16]