In [1]:
# 라이브러리 설치
!pip install pandas

Collecting pandas
  Using cached pandas-2.1.0-cp310-cp310-win_amd64.whl (11.1 MB)
Requirement already satisfied: numpy>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: tzdata>=2022.1 in c:\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-2.1.0

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Python310\python.exe -m pip install --upgrade pip' command.

In [1]:
# 라이브러리 로드
import pandas as pd

In [2]:
# panda를 이용하여 series 형태의 데이터를 생성
pd_series = pd.Series(
    [5000, 6000, 6500, 6500],
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)

In [3]:
print(pd_series)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [4]:
# series 형태의 데이터에서 values, index 값을 따로 출력하려면
print('스리즈 형태의 데이터에서 value의 값들은', pd_series.values)
print('스리즈 형태의 데이터에서 index의 값들은', pd_series.index)

스리즈 형태의 데이터에서 value의 값들은 [5000 6000 6500 6500]
스리즈 형태의 데이터에서 index의 값들은 Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [6]:
# 데이터 프레임 생성 (2차원 데이터)

_value = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
_index = ['a', 'b', 'c']
_column = ['A','B','C']

df = pd.DataFrame(_value, index=_index, columns=_column)

In [7]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [8]:
# index, columns, values 변수가 데이터 프레임에는 존재
print(df.index)
print(df.columns)
print(df.values)

Index(['a', 'b', 'c'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [9]:
# 데이터프레임의 정보를 출력하는 함수
# info()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [11]:
# 딕셔너리 형태의 데이터를 데이터프레임에 대입
_value = {
    'name' : ['test', 'test2', 'test3'],
    'age' : [20, 30, 40],
    'phone' : ['01012345678', '01023456789', '01034567891']
}

df2 = pd.DataFrame(_value)

In [12]:
df2

    name  age        phone
0   test   20  01012345678
1  test2   30  01023456789
2  test3   40  01034567891

In [13]:
_value = [
    {
        'name' : 'test',
        'age' : 20
    
    },
    {
        'name' : 'test2',
        'age' : 30
    
    }
]

df3 = pd.DataFrame(_value)

In [14]:
df3

    name  age
0   test   20
1  test2   30

In [ ]:
# 외부의 csv 파일 로드
# read_csv({파일의경로})
# 현재 파일에서 상위 폴더 이동(../) -> csv 폴더로 이동(csv/) -> corona.csv
corona = pd.read_csv("")