# buy and hold 전력
1. 구매 후 일정 기간이 지나면 판매

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("../csv/AAPL.csv", index_col='Date')  # 절대 경로: 맥은 ~부터 시작합니다.
# 인덱스를 변경
# df = df.set_index('Date') 
df.head(3)

                Open      High       Low     Close  Adj Close       Volume
Date
1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
1980-12-15  0.488839  0.488839  0.486607  0.486607   0.389106   43971200.0
1980-12-16  0.453125  0.453125  0.450893  0.450893   0.360548   26432000.0

In [5]:
# 결측치를 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9715 entries, 1980-12-12 to 2019-06-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       9714 non-null   float64
 1   High       9714 non-null   float64
 2   Low        9714 non-null   float64
 3   Close      9714 non-null   float64
 4   Adj Close  9714 non-null   float64
 5   Volume     9713 non-null   float64
dtypes: float64(6)
memory usage: 531.3+ KB

In [7]:
# volume 데이터의 결측치인 데이터를 출력
# 데이터프레임명.loc[인덱스의 조건식, 컬럼의 조건식]
df.loc[df['Volume'].isna()]

                Open      High       Low     Close  Adj Close  Volume
Date
1981-08-10       NaN       NaN       NaN       NaN        NaN     NaN
1981-08-21  0.363839  0.363839  0.359375  0.359375   0.287367     NaN

# Pandas 구성
    - series -> 1차원 -> index, values
    - DataFreme -> 2차원 -> index, colums, values