# buy and hold 전력
1. 구매 후 일정 기간이 지나면 판매

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../csv/AAPL.csv", index_col='Date')  # 절대 경로: 맥은 ~부터 시작합니다.
# 인덱스를 변경
# df = df.set_index('Date') 
df.head(3)

                Open      High       Low     Close  Adj Close       Volume
Date
1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
1980-12-15  0.488839  0.488839  0.486607  0.486607   0.389106   43971200.0
1980-12-16  0.453125  0.453125  0.450893  0.450893   0.360548   26432000.0

In [6]:
# 결측치를 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9715 entries, 1980-12-12 to 2019-06-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       9714 non-null   float64
 1   High       9714 non-null   float64
 2   Low        9714 non-null   float64
 3   Close      9714 non-null   float64
 4   Adj Close  9714 non-null   float64
 5   Volume     9713 non-null   float64
dtypes: float64(6)
memory usage: 531.3+ KB

In [7]:
# volume 데이터의 결측치인 데이터를 출력
# 데이터프레임명.loc[인덱스의 조건식, 컬럼의 조건식]
df.loc[df['Volume'].isna()]

                Open      High       Low     Close  Adj Close  Volume
Date
1981-08-10       NaN       NaN       NaN       NaN        NaN     NaN
1981-08-21  0.363839  0.363839  0.359375  0.359375   0.287367     NaN

# Pandas 구성
    - series -> 1차원 -> index, values
    - DataFrame -> 2차원 -> index, colums, values

# 연산자 [ ~ ] 부정형의 의미
    - loc[~조건]
    - dropna(axis = 0/1)

In [12]:
# volumn 데이터의 결측치가 아닌 데이터를 출력
df.loc[~df['Volume'].isna()]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [9]:
df2 = df.copy()

In [10]:
df2.dropna(axis=0)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [11]:
df2.drop(["1981-08-10", '1981-08-21'], axis=0)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [13]:
# 결측치의 양의 무한대 음의 무한대의 값들을 제거
df.loc[df['Close'] != np.inf]
df.loc[df['Close'] != -np.inf]
df.loc[~df['Close'].isna()]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [14]:
df.loc[
    (df['Close'] != np.inf) & (df['Close'] != -np.inf) & (~df['Close'].isna())
]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [17]:
flag = ~df.isin([np.nan, -np.inf, np.inf]).any(axis=1) # 포함되어있다.

In [18]:
df.loc[flag]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [19]:
df = df.loc[flag]

In [ ]:
# df에서 Close를 제외한 나머지 컬럼들을 모두 제거