In [ ]:
!pip install pymysql

In [ ]:
import pymysql

### mysql 연동
1. DB 서버와의 연결
    - 서버의 주소
    - 아이디
    - 비밀번호(설정을 안 한 경우 적지 않는다)
    - Database
    - Port
2. Cursor 생성
    - sql 서버와 python사이에 있는 가상의 공간
3. sql 쿼리문을 작성
4. Cursor를 이용하여 sql 쿼리문을 sql 서버에 보내준다.(execute)
5. Select문 경우에는 결과 값을 Cursor에서 받아온다.
6. insert, update, delete 문의 경우에는 데이터가 수정이 됨으로 sql 서버에 데이터를 변경(commit)
7. sql 서버와의 연결을 종료한다.

In [ ]:
# 서버와의 연결
_db = pymysql.connect(
    host = '127.0.0.1', # localhost
    user = 'root',
    password = '1234',
    database= 'ezen',
    port = 3306
)

In [ ]:
# Cursor 생성
# cursor() : 인자값을 넣지 않으면 결과값을 받아올때 tuple의 형태로 데이터를 가져온다.
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [ ]:
# 테이블을 생성하는 sql 쿼리문을 작성
sql = """
    create
    table
    user(
        id varchar(32) primary key,
        password varchar(32) not null,
        name varchar(32) not null,
        gender int
    );
"""
# cursor에 있는 execute() 함수를 이용하여 쿼리문을 실행
cursor.execute(sql)

In [ ]:
# insert문을 이용하여 데이터를 삽입
sql = """
    insert
    into
    user(
        id,
        password,
        name
    )
    values
    (
        'test',
        '1234',
        'kim'
    )
"""

cursor.execute(sql)

In [ ]:
_db.commit()

In [50]:
# 외부의 데이터베이스 서버에 접속

_db2 = pymysql.connect(
        host = 'darkpreist.iptime.org',
        user = 'ubion',
        password = '1234',
        database = 'ubion',
        port = 3306
)

In [51]:
cursor = _db2.cursor(pymysql.cursors.DictCursor)

In [52]:
sql = """
    SELECT
    `Region` as '대륙',
    `Country` as '국가',
    `Sales Channel` as '채널',
    `Units Sold` as '개수',
    `Unit Cost` as '원가',
    `Unit Price`as '단가'
    FROM
    `sales records`
"""

cursor.execute(sql)

10000

In [53]:
# cursor 공간에서 데이터를 불러온다.
data = cursor.fetchall()

In [54]:
data

[{'대륙': 'Sub-Saharan Africa',
  '국가': 'Chad',
  '채널': 'Online',
  '개수': 4484,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Europe',
  '국가': 'Latvia',
  '채널': 'Online',
  '개수': 1075,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Pakistan',
  '채널': 'Offline',
  '개수': 6515,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Democratic Republic of the Congo',
  '채널': 'Online',
  '개수': 7683,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Europe',
  '국가': 'Czech Republic',
  '채널': 'Online',
  '개수': 3491,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'South Africa',
  '채널': 'Offline',
  '개수': 9880,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Asia',
  '국가': 'Laos',
  '채널': 'Online',
  '개수': 4825,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Asia',
  '국가': 'China',
  '채널': 'Online',
  '개수': 3330,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Eritrea',
  '채널': 'Online',
  '개수': 2431,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Haiti',
  '채널': 'Online',
  '개수': 6197,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Zambia',
  '채널': 'Offline',
  '개수': 724,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Europe',
  '국가': 'Bosnia and Herzegovina',
  '채널': 'Offline',
  '개수': 9145,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Europe',
  '국가': 'Germany',
  '채널': 'Online',
  '개수': 6618,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Asia',
  '국가': 'India',
  '채널': 'Online',
  '개수': 5338,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Algeria',
  '채널': 'Offline',
  '개수': 9527,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Australia and Oceania',
  '국가': 'Palau',
  '채널': 'Offline',
  '개수': 441,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Cuba',
  '채널': 'Online',
  '개수': 1365,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Europe',
  '국가': 'Vatican City',
  '채널': 'Online',
  '개수': 2617,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Lebanon',
  '채널': 'Offline',
  '개수': 6545,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Europe',
  '국가': 'Lithuania',
  '채널': 'Offline',
  '개수': 2530,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Mauritius ',
  '채널': 'Offline',
  '개수': 1983,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Europe',
  '국가': 'Ukraine',
  '채널': 'Online',
  '개수': 3345,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Europe',
  '국가': 'Russia',
  '채널': 'Offline',
  '개수': 7091,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Asia',
  '국가': 'Japan',
  '채널': 'Offline',
  '개수': 725,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Europe',
  '국가': 'Russia',
  '채널': 'Offline',
  '개수': 3784,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Europe',
  '국가': 'Liechtenstein',
  '채널': 'Offline',
  '개수': 2835,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Europe',
  '국가': 'Greece',
  '채널': 'Online',
  '개수': 6477,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Europe',
  '국가': 'Albania',
  '채널': 'Offline',
  '개수': 339,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Australia and Oceania',
  '국가': 'Federated States of Micronesia',
  '채널': 'Online',
  '개수': 2083,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Dominica',
  '채널': 'Offline',
  '개수': 6401,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Europe',
  '국가': 'Andorra',
  '채널': 'Online',
  '개수': 16,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Europe',
  '국가': 'Switzerland',
  '채널': 'Online',
  '개수': 6684,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Trinidad and Tobago',
  '채널': 'Offline',
  '개수': 2191,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Europe',
  '국가': 'San Marino',
  '채널': 'Online',
  '개수': 9353,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Nicaragua',
  '채널': 'Online',
  '개수': 3020,
  '원가': 6.92,
  '단가': 9.33},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Azerbaijan',
  '채널': 'Online',
  '개수': 5072,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Asia',
  '국가': 'Bangladesh',
  '채널': 'Online',
  '개수': 9420,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Europe',
  '국가': 'Serbia',
  '채널': 'Online',
  '개수': 7005,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Mauritius ',
  '채널': 'Offline',
  '개수': 803,
  '원가': 6.92,
  '단가': 9.33},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Jamaica',
  '채널': 'Offline',
  '개수': 816,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Europe',
  '국가': 'Italy',
  '채널': 'Offline',
  '개수': 9083,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Asia',
  '국가': 'Bhutan',
  '채널': 'Offline',
  '개수': 4670,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Turkey',
  '채널': 'Online',
  '개수': 8675,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Europe',
  '국가': 'Bulgaria',
  '채널': 'Offline',
  '개수': 9229,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Pakistan',
  '채널': 'Offline',
  '개수': 6493,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Europe',
  '국가': 'Poland',
  '채널': 'Offline',
  '개수': 7659,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Europe',
  '국가': 'France',
  '채널': 'Offline',
  '개수': 1950,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Jamaica',
  '채널': 'Offline',
  '개수': 5623,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Australia and Oceania',
  '국가': 'Australia',
  '채널': 'Online',
  '개수': 6962,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Somalia',
  '채널': 'Offline',
  '개수': 1285,
  '원가': 6.92,
  '단가': 9.33},
 {'대륙': 'Europe',
  '국가': 'Slovenia',
  '채널': 'Online',
  '개수': 5941,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Australia and Oceania',
  '국가': 'Samoa ',
  '채널': 'Offline',
  '개수': 5310,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'South Africa',
  '채널': 'Online',
  '개수': 5802,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Ghana',
  '채널': 'Online',
  '개수': 861,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Asia',
  '국가': 'Sri Lanka',
  '채널': 'Offline',
  '개수': 5959,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Guinea',
  '채널': 'Online',
  '개수': 3603,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Europe',
  '국가': 'Spain',
  '채널': 'Offline',
  '개수': 8327,
  '원가': 6.92,
  '단가': 9.33},
 {'대륙': 'Europe',
  '국가': 'Moldova ',
  '채널': 'Online',
  '개수': 1699,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Dominican Republic',
  '채널': 'Online',
  '개수': 7318,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Europe',
  '국가': 'Luxembourg',
  '채널': 'Online',
  '개수': 5814,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Kuwait',
  '채널': 'Offline',
  '개수': 9848,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Saint Lucia',
  '채널': 'Online',
  '개수': 9112,
  '원가': 6.92,
  '단가': 9.33},
 {'대륙': 'Europe',
  '국가': 'Georgia',
  '채널': 'Offline',
  '개수': 5330,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Europe',
  '국가': 'Bosnia and Herzegovina',
  '채널': 'Offline',
  '개수': 7257,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Europe',
  '국가': 'Iceland',
  '채널': 'Online',
  '개수': 5678,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Mauritius ',
  '채널': 'Online',
  '개수': 8412,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Malawi',
  '채널': 'Online',
  '개수': 5307,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Seychelles ',
  '채널': 'Online',
  '개수': 3243,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Europe',
  '국가': 'Montenegro',
  '채널': 'Online',
  '개수': 1130,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Europe',
  '국가': 'Germany',
  '채널': 'Online',
  '개수': 4912,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Europe',
  '국가': 'Estonia',
  '채널': 'Offline',
  '개수': 2562,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Europe',
  '국가': 'Serbia',
  '채널': 'Online',
  '개수': 9084,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Madagascar',
  '채널': 'Offline',
  '개수': 1516,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Benin',
  '채널': 'Offline',
  '개수': 3924,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Europe',
  '국가': 'Hungary',
  '채널': 'Online',
  '개수': 2407,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Cuba',
  '채널': 'Online',
  '개수': 95,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Senegal',
  '채널': 'Offline',
  '개수': 2148,
  '원가': 6.92,
  '단가': 9.33},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Algeria',
  '채널': 'Online',
  '개수': 761,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Europe',
  '국가': 'Bosnia and Herzegovina',
  '채널': 'Online',
  '개수': 155,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Antigua and Barbuda ',
  '채널': 'Online',
  '개수': 1586,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Asia',
  '국가': 'Cambodia',
  '채널': 'Online',
  '개수': 8340,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Oman',
  '채널': 'Online',
  '개수': 735,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'North America',
  '국가': 'United States of America',
  '채널': 'Offline',
  '개수': 1118,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Mauritania',
  '채널': 'Offline',
  '개수': 8871,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Central African Republic',
  '채널': 'Offline',
  '개수': 5403,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Europe',
  '국가': 'Albania',
  '채널': 'Online',
  '개수': 9158,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Europe',
  '국가': 'Switzerland',
  '채널': 'Online',
  '개수': 609,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Ghana',
  '채널': 'Online',
  '개수': 7261,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Europe',
  '국가': 'Austria',
  '채널': 'Online',
  '개수': 8650,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Democratic Republic of the Congo',
  '채널': 'Offline',
  '개수': 1344,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Dominican Republic',
  '채널': 'Online',
  '개수': 3941,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Mauritius ',
  '채널': 'Offline',
  '개수': 2070,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Libya',
  '채널': 'Offline',
  '개수': 3394,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Australia and Oceania',
  '국가': 'Samoa ',
  '채널': 'Online',
  '개수': 2605,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Kuwait',
  '채널': 'Online',
  '개수': 6425,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Europe',
  '국가': 'Hungary',
  '채널': 'Online',
  '개수': 8611,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Senegal',
  '채널': 'Offline',
  '개수': 4947,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Europe',
  '국가': 'Moldova ',
  '채널': 'Offline',
  '개수': 8252,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Eritrea',
  '채널': 'Offline',
  '개수': 3375,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Niger',
  '채널': 'Online',
  '개수': 2194,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Saint Lucia',
  '채널': 'Online',
  '개수': 8622,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Europe',
  '국가': 'Sweden',
  '채널': 'Offline',
  '개수': 3600,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Jamaica',
  '채널': 'Online',
  '개수': 102,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Haiti',
  '채널': 'Offline',
  '개수': 8134,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Australia and Oceania',
  '국가': 'Samoa ',
  '채널': 'Online',
  '개수': 9730,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Dominican Republic',
  '채널': 'Online',
  '개수': 3960,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Tunisia ',
  '채널': 'Online',
  '개수': 1920,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Asia',
  '국가': 'Taiwan',
  '채널': 'Online',
  '개수': 1742,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Tunisia ',
  '채널': 'Online',
  '개수': 3585,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Asia',
  '국가': 'Sri Lanka',
  '채널': 'Offline',
  '개수': 4644,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Asia',
  '국가': 'Indonesia',
  '채널': 'Offline',
  '개수': 4141,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Ethiopia',
  '채널': 'Online',
  '개수': 8330,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Swaziland',
  '채널': 'Offline',
  '개수': 5500,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Europe',
  '국가': 'Portugal',
  '채널': 'Offline',
  '개수': 965,
  '원가': 6.92,
  '단가': 9.33},
 {'대륙': 'Europe',
  '국가': 'Hungary',
  '채널': 'Online',
  '개수': 2077,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Zimbabwe',
  '채널': 'Online',
  '개수': 3213,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Europe',
  '국가': 'Armenia',
  '채널': 'Online',
  '개수': 785,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Asia',
  '국가': 'North Korea',
  '채널': 'Online',
  '개수': 8237,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Burkina Faso',
  '채널': 'Offline',
  '개수': 1040,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Asia',
  '국가': 'India',
  '채널': 'Offline',
  '개수': 1701,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Sao Tome and Principe',
  '채널': 'Online',
  '개수': 4755,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Europe',
  '국가': 'Armenia',
  '채널': 'Offline',
  '개수': 1770,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Europe',
  '국가': 'Georgia',
  '채널': 'Online',
  '개수': 6344,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Europe',
  '국가': 'Serbia',
  '채널': 'Offline',
  '개수': 9108,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Australia and Oceania',
  '국가': 'Tuvalu',
  '채널': 'Offline',
  '개수': 2722,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Barbados',
  '채널': 'Online',
  '개수': 6878,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Mali',
  '채널': 'Offline',
  '개수': 3301,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Central African Republic',
  '채널': 'Online',
  '개수': 746,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Asia',
  '국가': 'Sri Lanka',
  '채널': 'Offline',
  '개수': 9997,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Europe',
  '국가': 'Bosnia and Herzegovina',
  '채널': 'Offline',
  '개수': 8874,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Europe',
  '국가': 'Netherlands',
  '채널': 'Offline',
  '개수': 7224,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Asia',
  '국가': 'Laos',
  '채널': 'Online',
  '개수': 1927,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Honduras',
  '채널': 'Online',
  '개수': 1895,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Zambia',
  '채널': 'Online',
  '개수': 3069,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Botswana',
  '채널': 'Offline',
  '개수': 3424,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Asia',
  '국가': 'Bhutan',
  '채널': 'Online',
  '개수': 7964,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Zimbabwe',
  '채널': 'Offline',
  '개수': 3726,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Lesotho',
  '채널': 'Offline',
  '개수': 4776,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Togo',
  '채널': 'Offline',
  '개수': 7214,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Australia and Oceania',
  '국가': 'Australia',
  '채널': 'Online',
  '개수': 4170,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Europe',
  '국가': 'Luxembourg',
  '채널': 'Offline',
  '개수': 804,
  '원가': 6.92,
  '단가': 9.33},
 {'대륙': 'Europe',
  '국가': 'Estonia',
  '채널': 'Offline',
  '개수': 9308,
  '원가': 6.92,
  '단가': 9.33},
 {'대륙': 'Europe',
  '국가': 'United Kingdom',
  '채널': 'Online',
  '개수': 3908,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Morocco',
  '채널': 'Online',
  '개수': 5856,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Europe',
  '국가': 'United Kingdom',
  '채널': 'Offline',
  '개수': 8440,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Australia and Oceania',
  '국가': 'Papua New Guinea',
  '채널': 'Online',
  '개수': 1978,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Australia and Oceania',
  '국가': 'New Zealand',
  '채널': 'Offline',
  '개수': 8816,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Europe',
  '국가': 'Austria',
  '채널': 'Offline',
  '개수': 8336,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Saint Kitts and Nevis ',
  '채널': 'Online',
  '개수': 1949,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Asia',
  '국가': 'Myanmar',
  '채널': 'Online',
  '개수': 8097,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Guatemala',
  '채널': 'Online',
  '개수': 7253,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Antigua and Barbuda ',
  '채널': 'Offline',
  '개수': 6922,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Iran',
  '채널': 'Online',
  '개수': 6641,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Asia',
  '국가': 'Singapore',
  '채널': 'Online',
  '개수': 2978,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Sudan',
  '채널': 'Offline',
  '개수': 4529,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Europe',
  '국가': 'Macedonia',
  '채널': 'Online',
  '개수': 6927,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'North America',
  '국가': 'Canada',
  '채널': 'Offline',
  '개수': 7831,
  '원가': 524.96,
  '단가': 651.21},
 {'대륙': 'Europe',
  '국가': 'Malta',
  '채널': 'Online',
  '개수': 1934,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Iraq',
  '채널': 'Online',
  '개수': 5959,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Europe',
  '국가': 'Austria',
  '채널': 'Offline',
  '개수': 3662,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Asia',
  '국가': 'Thailand',
  '채널': 'Online',
  '개수': 829,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Europe',
  '국가': 'Netherlands',
  '채널': 'Online',
  '개수': 277,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Zimbabwe',
  '채널': 'Online',
  '개수': 6854,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Belize',
  '채널': 'Offline',
  '개수': 2441,
  '원가': 117.11,
  '단가': 205.7},
 {'대륙': 'Europe',
  '국가': 'Georgia',
  '채널': 'Offline',
  '개수': 949,
  '원가': 90.93,
  '단가': 154.06},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Dominica',
  '채널': 'Online',
  '개수': 3319,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Europe',
  '국가': 'Slovakia',
  '채널': 'Online',
  '개수': 2527,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Benin',
  '채널': 'Online',
  '개수': 8576,
  '원가': 97.44,
  '단가': 152.58},
 {'대륙': 'Central America and the Caribbean',
  '국가': 'Jamaica',
  '채널': 'Online',
  '개수': 3503,
  '원가': 364.69,
  '단가': 421.89},
 {'대륙': 'Middle East and North Africa',
  '국가': 'Syria',
  '채널': 'Offline',
  '개수': 6374,
  '원가': 263.33,
  '단가': 437.2},
 {'대륙': 'Europe',
  '국가': 'Bulgaria',
  '채널': 'Offline',
  '개수': 8290,
  '원가': 56.67,
  '단가': 81.73},
 {'대륙': 'Australia and Oceania',
  '국가': 'Tonga',
  '채널': 'Offline',
  '개수': 7379,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Europe',
  '국가': 'Finland',
  '채널': 'Online',
  '개수': 3803,
  '원가': 35.84,
  '단가': 109.28},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Namibia',
  '채널': 'Online',
  '개수': 4754,
  '원가': 31.79,
  '단가': 47.45},
 {'대륙': 'Sub-Saharan Africa',
  '국가': 'Kenya',
  '채널': 'Offline',
  '개수': 9456,
  '원가': 159.42,
  '단가': 255.28},
 {'대륙': 'Australia and Oceania',
  '국가': 'Kiribati',
  '채널': 'Offline',
  '개수': 4163,
  '원가': 502.54,
  '단가': 668.27},
 {'대륙': 'Australia and Oceania',
  '국가': 'Australia',
  '채널': 'Online',
  '개수': 7163,
  '원가': 6.92,
  '단가': 9.33},

In [55]:
import pandas as pd

In [56]:
df = pd.DataFrame(data)

In [57]:
df

,대륙,국가,채널,개수,원가,단가
0,Sub-Saharan Africa,Chad,Online,4484,524.96,651.21
1,Europe,Latvia,Online,1075,31.79,47.45
2,Middle East and North Africa,Pakistan,Offline,6515,90.93,154.06
3,Sub-Saharan Africa,Democratic Republic of the Congo,Online,7683,502.54,668.27
4,Europe,Czech Republic,Online,3491,31.79,47.45
...,...,...,...,...,...,...
9995,Asia,Laos,Online,8597,31.79,47.45
9996,Europe,Liechtenstein,Online,562,263.33,437.20
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Offline,2524,90.93,154.06
9998,Sub-Saharan Africa,South Africa,Online,8706,364.69,421.89
9999,Asia,Mongolia,Offline,361,97.44,152.58

### 데이터의 결합
1. Union 결합 ( 데이터 간의 단순한 결합 )
    - 단순하게 행을 결합, 열을 결합
    - sql
        - table UNION table2
    - pandas
        - concat([df, df2], axis={0|1})
2. Join 결합 ( 특정한 조건에 맞춰서 열을 결합 )
    - 특정한 컬럼의 데이터를 기준으로 하여 해당하는 값들이 일치한다면 열을 결합
    - sql
        - table join table2 on 조건식
    - pandas
        - merge(df, df2, on = 조건식, how = 결합방식)

In [58]:
sql = """
    select
    *
    from
    tran_1
"""
cursor.execute(sql)
data1 = cursor.fetchall()
df = pd.DataFrame(data1)

In [59]:
df

     transaction_id   price         payment_date customer_id
0       T0000000113  210000  2019-02-01 01:36:57    PL563502
1       T0000000114   50000  2019-02-01 01:37:23    HD678019
2       T0000000115  120000  2019-02-01 02:34:19    HD298120
3       T0000000116  210000  2019-02-01 02:47:23    IK452215
4       T0000000117  170000  2019-02-01 04:33:46    PL542865
...             ...     ...                  ...         ...
4995    T0000005108  210000  2019-06-15 02:42:41    HD315748
4996    T0000005109  150000  2019-06-15 03:36:16    HI215420
4997    T0000005110   50000  2019-06-15 03:44:06    IK880102
4998    T0000005111  210000  2019-06-15 04:14:06    IK074758
4999    T0000005112   50000  2019-06-15 04:42:38    HD444151

[5000 rows x 4 columns]

In [60]:
sql = """
    select
    *
    from tran_2
"""
cursor.execute(sql)
data2 = cursor.fetchall()
df2 = pd.DataFrame(data2)
df2

     transaction_id   price         payment_date customer_id
0       T0000005113  295000  2019-06-15 07:20:27    TS169261
1       T0000005114   50000  2019-06-15 07:35:47    HI599892
2       T0000005115   85000  2019-06-15 07:56:36    HI421757
3       T0000005116   50000  2019-06-15 08:40:55    OA386378
4       T0000005117  120000  2019-06-15 08:44:23    TS506913
...             ...     ...                  ...         ...
1781    T0000006894  180000  2019-07-31 21:20:44    HI400734
1782    T0000006895   85000  2019-07-31 21:52:48    AS339451
1783    T0000006896  100000  2019-07-31 23:35:25    OA027325
1784    T0000006897   85000  2019-07-31 23:39:35    TS624738
1785    T0000006898   85000  2019-07-31 23:41:38    AS834214

[1786 rows x 4 columns]

In [61]:
# sql 쿼리문을 이용하여 데이터를 단순 행 결합

sql = """
    select * from tran_1
    union
    select * from tran_2;
"""

cursor.execute(sql)
data3 = cursor.fetchall()
df3 = pd.DataFrame(data3)
df3

     transaction_id   price         payment_date customer_id
0       T0000000113  210000  2019-02-01 01:36:57    PL563502
1       T0000000114   50000  2019-02-01 01:37:23    HD678019
2       T0000000115  120000  2019-02-01 02:34:19    HD298120
3       T0000000116  210000  2019-02-01 02:47:23    IK452215
4       T0000000117  170000  2019-02-01 04:33:46    PL542865
...             ...     ...                  ...         ...
6781    T0000006894  180000  2019-07-31 21:20:44    HI400734
6782    T0000006895   85000  2019-07-31 21:52:48    AS339451
6783    T0000006896  100000  2019-07-31 23:35:25    OA027325
6784    T0000006897   85000  2019-07-31 23:39:35    TS624738
6785    T0000006898   85000  2019-07-31 23:41:38    AS834214

[6786 rows x 4 columns]

In [62]:
# pandas를 이용하여 데이터프레임을 단순 행 결합
pd.concat([df, df2], axis=0, ignore_index=True)

     transaction_id   price         payment_date customer_id
0       T0000000113  210000  2019-02-01 01:36:57    PL563502
1       T0000000114   50000  2019-02-01 01:37:23    HD678019
2       T0000000115  120000  2019-02-01 02:34:19    HD298120
3       T0000000116  210000  2019-02-01 02:47:23    IK452215
4       T0000000117  170000  2019-02-01 04:33:46    PL542865
...             ...     ...                  ...         ...
6781    T0000006894  180000  2019-07-31 21:20:44    HI400734
6782    T0000006895   85000  2019-07-31 21:52:48    AS339451
6783    T0000006896  100000  2019-07-31 23:35:25    OA027325
6784    T0000006897   85000  2019-07-31 23:39:35    TS624738
6785    T0000006898   85000  2019-07-31 23:41:38    AS834214

[6786 rows x 4 columns]

In [63]:
# 인자값으로 쿼리문을 입력하면 결과를 데이터프레임으로 되돌려주는 함수
def sql_load(sql):
    cursor.execute(sql)
    data = cursor.fetchall()
    result = pd.DataFrame(data)
    return result

In [64]:
sql = """
    select
    *
    from
    emp
"""

emp = sql_load(sql)
emp

   EMPNO   ENAME        JOB   MGR    HIREDATE      SAL     COMM DEPTNO
0   7369   SMITH      CLERK  7902  1980-12-17   800.00     None     20
1   7499   ALLEN   SALESMAN  7698  1981-02-20  1600.00   300.00     30
2   7521    WARD   SALESMAN  7698  1981-02-22  1250.00   500.00     30
3   7566   JONES    MANAGER  7839  1981-04-02  2975.00     None     20
4   7654  MARTIN   SALESMAN  7698  1981-09-28  1250.00  1400.00     30
5   7698   BLAKE    MANAGER  7839  1981-05-01  2850.00     None     30
6   7782   CLARK    MANAGER  7839  1981-06-09  2450.00     None     10
7   7788   SCOTT    ANALYST  7566  1987-06-28  3000.00     None     20
8   7839    KING  PRESIDENT  None  1981-11-17  5000.00     None     10
9   7844  TURNER   SALESMAN  7698  1981-09-08  1500.00     0.00     30
10  7876   ADAMS      CLERK  7788  1987-07-13  1100.00     None     20
11  7900   JAMES      CLERK  7698  1981-12-03   950.00     None     30
12  7902    FORD    ANALYST  7566  1981-12-03  3000.00     None     20
13  7934  MILLER      CLERK  7782  1982-01-23  1300.00     None     10

In [65]:
sql = """
    select
    *
    from
    dept;
"""
dept = sql_load(sql)
dept

  DEPTNO       DNAME       LOC
0     10  ACCOUNTING  NEW YORK
1     20    RESEARCH    DALLAS
2     30       SALES   CHICAGO
3     40  OPERATIONS    BOSTON
4     50         CEO  NEW YORK

In [67]:
# join 결합 sql
sql = """
    select
    *
    from
    emp
    right join
    dept
    on
    emp.DEPTNO = dept.DEPTNO;
"""
sql_load(sql)

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,dept.DEPTNO,DNAME,LOC
0,7782,CLARK,MANAGER,7839,1981-06-09,2450.00,None,10,10,ACCOUNTING,NEW YORK
1,7839,KING,PRESIDENT,None,1981-11-17,5000.00,None,10,10,ACCOUNTING,NEW YORK
2,7934,MILLER,CLERK,7782,1982-01-23,1300.00,None,10,10,ACCOUNTING,NEW YORK
3,7369,SMITH,CLERK,7902,1980-12-17,800.00,None,20,20,RESEARCH,DALLAS
4,7566,JONES,MANAGER,7839,1981-04-02,2975.00,None,20,20,RESEARCH,DALLAS
5,7788,SCOTT,ANALYST,7566,1987-06-28,3000.00,None,20,20,RESEARCH,DALLAS
6,7876,ADAMS,CLERK,7788,1987-07-13,1100.00,None,20,20,RESEARCH,DALLAS
7,7902,FORD,ANALYST,7566,1981-12-03,3000.00,None,20,20,RESEARCH,DALLAS
8,7499,ALLEN,SALESMAN,7698,1981-02-20,1600.00,300.00,30,30,SALES,CHICAGO
9,7521,WARD,SALESMAN,7698,1981-02-22,1250.00,500.00,30,30,SALES,CHICAGO
10,7654,MARTIN,SALESMAN,7698,1981-09-28,1250.00,1400.00,30,30,SALES,CHICAGO
11,7698,BLAKE,MANAGER,7839,1981-05-01,2850.00,None,30,30,SALES,CHICAGO
12,7844,TURNER,SALESMAN,7698,1981-09-08,1500.00,0.00,30,30,SALES,CHICAGO
13,7900,JAMES,CLERK,7698,1981-12-03,950.00,None,30,30,SALES,CHICAGO
14,None,None,None,None,None,None,None,None,40,OPERATIONS,BOSTON
15,None,None,None,None,None,None,None,None,50,CEO,NEW YORK

In [69]:
# pandas를 이용하여 join 결합 (merge)
pd.merge(emp, dept, on = 'DEPTNO', how = 'right')

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,DNAME,LOC
0,7782,CLARK,MANAGER,7839,1981-06-09,2450.00,None,10,ACCOUNTING,NEW YORK
1,7839,KING,PRESIDENT,None,1981-11-17,5000.00,None,10,ACCOUNTING,NEW YORK
2,7934,MILLER,CLERK,7782,1982-01-23,1300.00,None,10,ACCOUNTING,NEW YORK
3,7369,SMITH,CLERK,7902,1980-12-17,800.00,None,20,RESEARCH,DALLAS
4,7566,JONES,MANAGER,7839,1981-04-02,2975.00,None,20,RESEARCH,DALLAS
5,7788,SCOTT,ANALYST,7566,1987-06-28,3000.00,None,20,RESEARCH,DALLAS
6,7876,ADAMS,CLERK,7788,1987-07-13,1100.00,None,20,RESEARCH,DALLAS
7,7902,FORD,ANALYST,7566,1981-12-03,3000.00,None,20,RESEARCH,DALLAS
8,7499,ALLEN,SALESMAN,7698,1981-02-20,1600.00,300.00,30,SALES,CHICAGO
9,7521,WARD,SALESMAN,7698,1981-02-22,1250.00,500.00,30,SALES,CHICAGO
10,7654,MARTIN,SALESMAN,7698,1981-09-28,1250.00,1400.00,30,SALES,CHICAGO
11,7698,BLAKE,MANAGER,7839,1981-05-01,2850.00,None,30,SALES,CHICAGO
12,7844,TURNER,SALESMAN,7698,1981-09-08,1500.00,0.00,30,SALES,CHICAGO
13,7900,JAMES,CLERK,7698,1981-12-03,950.00,None,30,SALES,CHICAGO
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,OPERATIONS,BOSTON
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,CEO,NEW YORK

In [73]:
class Mysql:
    # 생성자 함수 : class가 생성될때 최초로 한번만 실행이 되는 함수를 의미한다. 초기화 함수라고 부르기도 한다.
    def __init__(self, _host, _user, _pass, _db, _port):
        self.host = _host
        self.user = _user
        self.password = _pass
        self.db = _db
        self.port = _port

    # sql 쿼리문을 입력 값으로 받아서 쿼리문을 실행하고 결과값을 되돌려주는 함수
    def sql_load(self, _sql, _value= []):
        # 데이터베이스 서버와의 연결
        _db = pymysql.connect(
            host = self.host,
            user = self.user,
            password = self.password,
            database = self.db,
            port = self.port
        )
        # Cursor 생성
        cursor = _db.cursor(pymysql.cursors.DictCursor)

        # sql 쿼리문을 실행
        cursor.execute(_sql, _value)

        # _sql이 시작이 select로 시작하는 경우
        if _sql.strip().lower().startswith('select'):
            result = cursor.fetchall()
        # 아닌 경우
        else:
            _db.commit()
            result = 'Query OK'

        # 데이터베이스와의 연결을 종료
        _db.close()

        return result

In [71]:
sql = """
    SELECT
    *
    from
    emp
"""
sql.strip().lower()[0:6] == 'select'
sql.strip().lower().startswith('select')

True